---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%d/%m/%y %R" }}
  </div>

  <div class="tags">
  	{% for tag in page.tags %}
  		<a href="../tag/#{{tag}}">#{{tag}}</a>
  	{% endfor %}
  </div>

  <div class="botnav">
  	{% if page.previous.url %}
  		<a class="prev" href="{{page.previous.url}}">&larr; {{page.previous.title}} {{ page.date | date: "(%d/%m/%y)" }}</a>
  	{% endif %}
  	{% if page.next.url %}
  		<a class="next" href="{{page.next.url}}">{{page.next.title}} {{ page.date | date: "(%d/%m/%y)" }} &rarr;</a>
  	{% endif %}
  </div>

  {% include disqus.html %}
</article>
